<!-- authentication/profile.html -->
{% extends "base_generic.html" %}

{% block content %}
<h1>Profile Page</h1>
<p>Hello, {{ user.first_name }} {{ user.last_name }}!</p>
<p>Email: {{ user.email }}</p>
<p><a href="{% url 'update_profile' %}">Edit Profile</a><br>
   <a href="{% url 'password_change' %}">Change Password</a></p>

<!-- User information update form would go here -->

<h2> Your Reservations:</h2>
<ul>
	{% for reservation in reservations %}
		<li>{{ reservation.asset }} | {{ reservation.start_time }} &ndash; {{ reservation.end_time }}</li>
	{% endfor %}
</ul>

<!-- Password change form would go here -->

{% endblock %}