<!-- authentication/profile.html -->
{% extends "base_generic.html" %}
{% block title %}Profile - BookYah{% endblock %}

{% block content %}
<h1>Profile Page</h1>
<p>Hello, {{ user.first_name }} {{ user.last_name }}!</p>
<p>Email: {{ user.email }}
{% if request.user.email_verified %}
	(Verified)
{% else %}
	(Not verified. <a href="{% url 'resend_verification_email' %}">Click to resend verification email</a>)
{% endif %}</p>
<p><a href="{% url 'update_profile' %}">Edit Profile</a><br>
   <a href="{% url 'password_change' %}">Change Password</a></p>

<h2> Your Active Reservations:</h2>
{% if active_reservations %}
<ul>
	{% for reservation in active_reservations %}
		<li>
			{{ reservation.asset }} | {{ reservation.start_time }} &ndash; {{ reservation.end_time }}
		</li>
	{% endfor %}
</ul>
{% else %}
<p><em>No active reservations.</em></p>
{% endif %}

<h2> Your Upcoming Reservations:</h2>
{% if upcoming_reservations %}
<ul>
	{% for reservation in upcoming_reservations %}
		<li>
			{{ reservation.asset }} | {{ reservation.start_time }} &ndash; {{ reservation.end_time }}
			<a href="{% url 'modify_reservation' reservation.id %}">Modify</a> |
			<a href="{% url 'cancel_reservation' reservation.id %}"
				class="cancel-link"
				data-reservation-id="{{ reservation.id }}"
				data-reservation-details="{{ reservation.asset }} from {{ reservation.start_time|date:'F d, Y g:ia' }} to {{ reservation.end_time|date:'F d, Y g:ia'}}">Cancel</a>
			{% if reservation.series_id %}
				<a href="{% url 'cancel_series' reservation.series_id %}"
				class="cancel-series-link">Cancel Entire Series</a>
			{% endif %}
		</li>
	{% endfor %}
</ul>
{% else %}
<p><em>No upcoming reservations.</em></p>
{% endif %}

<p><a href="{% url 'select-asset-type' %}" class="btn">Create a new reservation</a>
<a href="{% url 'archived_reservations' %}" class="btn">View Archived Reservations</a>
 </p>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var cancelLinks = document.querySelectorAll('.cancel-link');  // Get all cancel links
    var cancelSeriesLinks = document.querySelectorAll('.cancel-series-link');

    cancelLinks.forEach(function(link) {
        link.addEventListener('click', function(event) {
            event.preventDefault();  // Prevent the link from navigating immediately

            // Confirmation message with details
            var confirmationMessage = 'Are you sure you want to cancel this series?';
            var confirmation = confirm(confirmationMessage);

            if (confirmation) {
                // If the user confirms, proceed with cancellation
                window.location.href = this.href;
            }
            // If the user does not confirm, do nothing (the link won't be followed)
        });
    });
});
</script>

{% endblock %}