{% extends "base_generic.html" %}

{% block title %}Update Profile - BOOKYAH{% endblock %}

{% block content %}
	<h2>Update Profile</h2>
	<form method="post">
		{% csrf_token %}
		{% for field in form %}
			{% if field.name != 'password' %}
				<p>
					{{ field.label_tag }}
					{{ field }}
				</p>
			{% else %}
				<p>Password: <a href="{% url 'password_change' %}">Change Password</a></p>
			{% endif %}
		{% endfor %}
		<button type="submit">Update</button>
		<a href="{% url 'profile' %}" class="cancel-button">Cancel</a>
	</form>
{% endblock %}