/* Base styles */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #00335B;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header a, footer a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 1rem;
}

/* Forms and inputs */
form {
    background-color: #fff;
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"],
form input[type="time"],
form select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form input[type="submit"],
form button[type="submit"],
.cancel-button {
    display: inline-block;
    background-color: #008751;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 16px;
    height: 40px;
    line-height: 20px;
    box-sizing: border-box;
}

form input[type="submit"]:hover,
form button[type="submit"]:hover {
    background-color: #00663d;
}

.cancel-button {
	background-color: #f44336;
}

.cancel-button:hover {
    background-color: #d32f2f; /* Slightly darker red on hover */
}

.btn {
    background-color: #f1b434;  /* Orange color */
    color: white;              /* White text color for contrast */
    border: none;              /* No border */
    padding: 10px 20px;        /* Padding for size */
    margin: 5px;               /* Margin for spacing */
    border-radius: 5px;        /* Rounded corners */
    font-size: 16px;           /* Reasonable font size */
    cursor: pointer;           /* Cursor changes to pointer on hover */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.btn:hover {
    background-color: #e1a233; /* Slightly darker shade of orange for hover */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.asset-button {
    display: inline-block; /* Or 'block' if you want them to be on separate lines */
    background-color: #FFFFFF;
    color: black;
    border: 2px solid black;
    padding: 10px 20px; /* Padding for size */
    margin: 5px; /* Margin for spacing */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Reasonable font size */
    cursor: pointer; /* Cursor changes to pointer on hover */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.asset-button:hover {
    background-color: #DFDFDF; /* Slightly gray for hover */
}

.asset-button.selected {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow to lift the button off the page */
}


/* Utility Classes */
.text-center {
    text-align: center;
}

/* Responsive */
@media only screen and (max-width: 600px) {
    main {
        padding: 1rem 0.5rem;
    }
}
