{% extends 'admin/base_site.html' %}  <!-- Extends the base admin template -->
{% block extrahead %}
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
{% endblock %}

{% block content %}
<div>
	<label for="assetTypeFilter">Filter by Asset Type:</label>
	<select id="assetTypeFilter" onchange="updateCalendarEvents()">
		<option value="">All Asset Types</option>
		{% for asset_type in asset_types %}
		<option value="{{ asset_type.id }}">{{ asset_type.name }}</option>
		{% endfor %}
	</select>
</div>

<div id='calendar'></div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    
    var calendar = new FullCalendar.Calendar(calendarEl, {
        // FullCalendar configuration
        initialView: 'timeGridWeek',
        editable: true,
        selectable: true,
        events: '/admin-reservation-data/',  // URL to fetch events
        eventClick: function(info) {
        	var reservationId = info.event.id;
        	window.location.href = `/admin/booking/reservation/${reservationId}/change/`;
        }
    });

    calendar.render();
    
    window.updateCalendarEvents = function() {
        var selectedAssetTypeId = document.getElementById('assetTypeFilter').value;
        var newEventsUrl = `/admin-reservation-data/?asset_type_id=${selectedAssetTypeId}`;
        calendar.setOption('events', newEventsUrl);  // Update the events URL
        calendar.refetchEvents();  // Refetch events from the new URL
    }
});

</script>
{% endblock %}
