{% extends "base_generic.html" %}
{% block title %}Make a Reservation - MyCal{% endblock %}

{% block content %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let interval = 15; // Your time interval in minutes

            // This function rounds the time to the nearest interval
            function roundMinutes(date) {
                date.setMinutes(Math.round(date.getMinutes() / interval) * interval);
                date.setSeconds(0);
                return date;
            }

            // Here we enforce the step for all inputs with the 'datetimefield' class
            let datetimeFields = document.querySelectorAll('.datetimefield');
            datetimeFields.forEach(function(field) {
                field.step = interval * 60; // Step attribute should be in seconds

                field.addEventListener('change', function(e) {
                    let value = e.target.valueAsNumber;
                    if (value) {
                        let date = roundMinutes(new Date(value));
                        e.target.valueAsNumber = date.getTime();
                    }
                });
            });
            
        	const form = document.querySelector('form');
  			form.addEventListener('submit', function(event) {
    		 	const startInput = document.querySelector('input[name="start_time"]');
        		const endInput = document.querySelector('input[name="end_time"]');
        		const startDate = new Date(startInput.value);
        		const endDate = new Date(endInput.value);

        		if (startDate >= endDate) {
            		event.preventDefault(); // Stop form from submitting
            		alert('The end time must be after the start time.');
        		}
    		});
        });
    </script>
    <!-- Your form elements -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
        <a href="{% url 'profile' %}" class="cancel-button">Cancel</a>
    </form>
{% endblock %}
