{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% block title %}Make a Reservation - MyCal{% endblock %}
{% block head %}
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
{% endblock %}

{% block content %}
    <h2> Reserve {{ asset_type_name }}</h2>
    <a href="{% url 'select-asset-type' %}">Change asset type</a>
    <!-- Your form elements -->
    <form method="post">
		{% csrf_token %}
    	<p>
        	{{ form.asset.label_tag }}
        	{{ form.asset|add_class:'your-class' |attr:"id:id_asset" }}
    	</p>
    	<!-- ... other fields ... -->
    	<div id="calendar-message" style="display: none;">
    	Select an asset above to view its availability.
		</div>
		<div id="calendar" style="display: none;"></div>
		
		<p>
			<label for="id_start_time">Start Time:</label>
    		<input type="datetime-local" id="id_start_time" name="start_time">
    	</p>

    	<p>
    		<label for="id_end_time">End Time:</label>
    		<input type="datetime-local" id="id_end_time" name="end_time">
    	</p>

    	<input type="submit" value="Submit">
    	<a href="{% url 'profile' %}" class="cancel-button">Cancel</a>
    </form>
    <script>
	document.addEventListener('DOMContentLoaded', function() {
		function generateUniqueId() {
			return new Date().getTime().toString();
		}
		
		function doesOverlapWithOthers(newStart, newEnd, events, selectedEvent) {
			return events.some(function(event) {
				if (selectedEvent && event.id === selectedEvent.id) {
					return false;
				}
				
				return (newStart < event.end) && (event.start < newEnd);
			});
		}
	
    	var calendarEl = document.getElementById('calendar');
    	var selectedEvent = null;
    	
    	var calendar = new FullCalendar.Calendar(calendarEl, {
    		timeZone: 'America/New_York',
    	    initialView: 'timeGridWeek',
    	    selectable: true,
    	    selectMirror: true,
    	    select: function(info) {
    	    	var events = calendar.getEvents();
    	    	var originalEventDetails = selectedEvent ? {
    	    		id: selectedEvent.id,
    	    		title: selectedEvent.title,
    	    		start: selectedEvent.start,
    	    		end: selectedEvent.end,
    	    		allDay: selectedEvent.allDay
    	    	} : null;
    	    	
    	    	var isOverlap = doesOverlapWithOthers(info.start, info.end, events, selectedEvent);
    	    	
    	    	/* console.log("isOverlap is " + isOverlap);
    	    	if (selectedEvent == null){
    	    		console.log("selectedEvent is null");
    	    	} else {
    	    		console.log("selectedEvent is NOT null");
    	    	} */
    	    	
    	    	var isDayBooked = events.some(function(event){
    	    		if (selectedEvent && event.id === selectedEvent.id) {
    	    			return false;
    	    		}
    	    		var eventStart = event.start;
    	    		var eventEnd = event.end || event.start;
    	    		
    	    		var overlaps = (eventStart < info.end) && (info.start < eventEnd);
    	    		var spansAcross = (eventStart <= info.start) && (info.end <= eventEnd);
    	    		
    	    		return overlaps || spansAcross;
    	    	});
    	    	
    	    	if (selectedEvent) {
    	    		selectedEvent.remove();
    	    		selectedEvent = null;
    	    	}
    	    	
    	    	var startStr, endStr;
    	    	
    	    	if(info.allDay) {
    	    		if(isDayBooked){
    	    			alert('This day is already booked and cannot be reserved for all day.');
    	    			if (originalEventDetails) {
    	    				selectedEvent = calendar.addEvent(originalEventDetails);
    	    			}
    	    			calendar.unselect();
    	    			return;
    	    		}
    	    		
    	    		var startYear = info.start.getFullYear();
    	    		var startMonth = (info.start.getMonth() + 1).toString().padStart(2, '0');
    	    		var startDay = info.start.getDate().toString().padStart(2, '0');
    	    		
    	    		startStr = `${startYear}-${startMonth}-${startDay}T00:00`;
    	    		
    	    		var endDate = new Date(info.end);
    	    		// endDate.setMinutes(endDate.getMinutes() - 1);
    	    		// endDate.setDate(endDate.getDate() + 1);
    	    		var endYear = endDate.getFullYear();
    	    		var endMonth = (endDate.getMonth() + 1).toString().padStart(2, '0');
    	    		var endDay = endDate.getDate().toString().padStart(2, '0');
    	    		
    	    		endStr = `${endYear}-${endMonth}-${endDay}T00:00`;
    	    		/* console.log("Start String:", startStr);
					console.log("End String:", endStr); */
    	    	} else {
    	    		if (isOverlap){
    	    			alert('This time slot overlaps with an existing reservation.');
    	    			if (originalEventDetails) {
    	    				selectedEvent = calendar.addEvent(originalEventDetails);
    	    			}
    	    			calendar.unselect();
    	    			return;
    	    		}

    	    		startStr = info.startStr.replace(' ', 'T').substring(0, 16);
    	    		endStr = info.endStr.replace(' ', 'T').substring(0, 16);
    	    		/* console.log("Start String:", startStr);
					console.log("End String:", endStr); */
    	    	}
    	    	
    	    	document.getElementById('id_start_time').value = startStr;
    	    	document.getElementById('id_end_time').value = endStr;
    	    	
    	    	selectedEvent = calendar.addEvent({
    	    		id: generateUniqueId(),
    	    		title: 'Selected Time',
    	    		start: info.start,
    	    		end: info.end,
    	    		allDay: info.allDay,
    	    		isUserSelected: true
    	    	});
    	    },
    	    
    	    eventClick: function(info) {
    	    	if (info.event.extendedProps.isUserSelected) {
    	    		if (confirm("Would you like to remove this selected time?")) {
    	    			selectedEvent.remove();
    	    			selectedEvent = null;
    	    			document.getElementById('id_start_time').value = '';
    	    			document.getElementById('id_end_time').value = '';
    	    		}
    	    	} else {
    	    		// This is a pre-existing reservation, do nothing or handle differently
    	    	}
    	    },
    	    
    	    // other options here
			events: function(fetchInfo, successCallback, failureCallback) {
        		fetch('/reservation-data/')
					.then(response => response.json())
					.then(data => successCallback(data))
					.catch(error => failureCallback(error));
			},
    	});
    	calendar.render();
    	
    	var startInput = document.getElementById('id_start_time');
    	var endInput = document.getElementById('id_end_time');
    	
    	function addOrUpdateEvent() {
    		var startTime = startInput.value;
    		var endTime = endInput.value;
    		
    		if (startTime && endTime) {
    			var events = calendar.getEvents();
    			events.forEach(function(event) {
    				event.remove();
    			});
    			
    			calendar.addEvent({
    				title: 'Selected Time',
    				start: startTime,
    				end: endTime
    			});
    		}
    	}
    	
    	startInput.addEventListener('change', addOrUpdateEvent);
    	endInput.addEventListener('change', addOrUpdateEvent);
    	
    	let interval = 15; // Your time interval in minutes
        // const assetTypeSelect = document.getElementById('id_asset_type'); // Adjust the ID as per your form field
		const assetSelect = document.getElementById('id_asset'); // Adjust the ID
		const calendarMessage = document.getElementById('calendar-message');
		
		function updateCalendarVisibility() {
			if (assetSelect.value) {
				if(selectedEvent){
					selectedEvent.remove();
					selectedEvent = null;
				}
				
				document.getElementById('id_start_time').value = '';
				document.getElementById('id_end_time').value = '';
				
				calendarMessage.style.display = 'none';
				calendarEl.style.display = '';
				calendar.refetchEvents();
				setTimeout(function() {
					calendar.updateSize();
				}, 10);
			} else {
				calendarMessage.style.display = '';
				calendarEl.style.display = 'none';
			}
		}
    		
    	assetSelect.addEventListener('change', updateCalendarVisibility);
   		updateCalendarVisibility();
    		
    	calendar.setOption('events', function(fetchInfo, successCallback, failureCallback) {
    		var assetId = assetSelect.value;
    		fetch(`/reservation-data/?asset_id=${assetId}`)
    			.then(response => response.json())
    			.then(data => successCallback(data))
    			.catch(error => failureCallback(error));
    	});

        // This function rounds the time to the nearest interval
        function roundMinutes(date) {
            date.setMinutes(Math.round(date.getMinutes() / interval) * interval);
            date.setSeconds(0);
            return date;
        }

        // Here we enforce the step for all inputs with the 'datetimefield' class
        let datetimeFields = document.querySelectorAll('.datetimefield');
        datetimeFields.forEach(function(field) {
            field.step = interval * 60; // Step attribute should be in seconds

            field.addEventListener('change', function(e) {
                let value = e.target.valueAsNumber;
                if (value) {
                    let date = roundMinutes(new Date(value));
                    e.target.valueAsNumber = date.getTime();
                }
            });
        });
            
        const form = document.querySelector('form');
  		form.addEventListener('submit', function(event) {
    	 	const startInput = document.querySelector('input[name="start_time"]');
        	const endInput = document.querySelector('input[name="end_time"]');
        	const startDate = new Date(startInput.value);
        	const endDate = new Date(endInput.value);

        	if (startDate >= endDate) {
           		event.preventDefault(); // Stop form from submitting
           		alert('The end time must be after the start time.');
        	}
    	});
	});
	</script>

{% endblock %}
