{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MyCal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <!-- Navigation and titles can go here -->
    </header>

    <main>
    	{% if messages %}
    		<ul class="messages">
        		{% for message in messages %}
            		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        		{% endfor %}
    		</ul>
		{% endif %}
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Footer content can go here -->
    </footer>
</body>
</html>